
  .at-item1 {
    color: #3079ed;
    animation-name: focus-in-contract;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
  }
  @keyframes focus-in-contract {
    0%{
      letter-spacing: 1em;
      filter: blur(12px);
      opacity: 0;
    }
    10%{
    }
    100%{
      filter: blur(0);
      opacity: 1;
    }
  }


  