* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }
  
  html {
    font-size: 62.5%;
  }