//  Color
$color-white: #fff;
$color-white-light: #f2f4f5;
$color-grey-2:  #828c96;
$color-red-2: #ff4d5a;
$color-darkblue:#072142;
$color-darkblue-1:#061c37 ;
$color-darkblue-2:#07182b ;
$color-darkblue-3:#061220 ;
$color-dark-1:#020b16;
$color-purple-1:#8c2b7a;

// Background Page
$background-project-1-page: url(../img/reile.jpg) no-repeat center;
$background-about-page: url(../img/about.jpg) no-repeat center;

// Background Home
$background-project-1-home:url(../img/backgroundProject/backgroundPRJ1.png) no-repeat center;
$background-about-home: url(../img/about.jpg) no-repeat center;
